= form_for @movie do |f|
	%fieldset.film-form
		.fields
			= f.label :title
			= f.text_field :title
		.fields
			= f.label :year
			= f.text_field :year
		.fields
			= f.label :description
			= f.text_field :description
		.fields
			= f.label :image
			= f.text_field :image

	= f.submit 'Save', class: "btn btn-blue"