.container
	%h1 All Movies

	.search-bar
		.search
			= form_tag "/", method: "GET" do 
				= text_field_tag :q, params[:q]
				= submit_tag "Search", class: "btn btn-blue"
		= link_to "Add new film", new_movie_path, class: "btn btn-yellow add-new-film" 

	%table
		%tbody
			%tr.table-header
				%th Cover
				%th Movie
				%th Year
				%th Description
			%tr
				= render partial: "movie", collection: @movies