.container
	%h1 Movie
	.movie-photo
		= image_tag @movie.image
	.movie-wrapper
		%h3= "#{@movie.title} (#{@movie.year})"
		%p= @movie.description


	= link_to "Edit movie", edit_movie_path, class: "btn btn-blue"
	= link_to "All movies", movies_path, class: "btn btn-blue"
	= link_to "Delete movie", @movie, method: :delete, class: "btn btn-red"
